In [ ]:
import pandas as pd

In [ ]:
food = pd.read_csv("Food.csv")
menu = pd.read_csv("Menu.csv")
orders = pd.read_csv("Orders.csv")
restaurant = pd.read_csv("Restaurant.csv")
users = pd.read_csv("Users.csv")

In [ ]:
data_quality_report = {
    "Food": food.isnull().sum(),
    "Menu": menu.isnull().sum(),
    "Orders": orders.isnull().sum(),
    "Restaurant": restaurant.isnull().sum(),
    "Users": users.isnull().sum(),
}
data_quality_report

{'Food': Food_id      0
 Item         0
 Food_Type    0
 dtype: int64,
 'Menu': Menu_id          0
 Restaurant_id    0
 Food_id          0
 Cuisine          0
 Price            0
 dtype: int64,
 'Orders': order_date          0
 Sales_QTY           0
 Sales_amount        0
 currency            0
 User_id             0
 Restaurant_id    1617
 dtype: int64,
 'Restaurant': Restaurant_id    0
 Name             0
 Country          0
 City             0
 Rating           0
 Rating_count     0
 Cuisine          0
 dtype: int64,
 'Users': User_id           0
 Name              0
 Age               0
 Gender            0
 Marital Status    0
 Occupation        0
 dtype: int64}

In [ ]:
data_shapes = {
    "Food": food.shape,
    "Menu": menu.shape,
    "Orders": orders.shape,
    "Restaurant": restaurant.shape,
    "Users": users.shape,
}
data_shapes

{'Food': (371552, 3),
 'Menu': (1048574, 5),
 'Orders': (150281, 6),
 'Restaurant': (148454, 7),
 'Users': (100000, 6)}

In [ ]:
# Drop rows with null Restaurant_id from Orders
orders_clean = orders.dropna(subset=['Restaurant_id'])

In [ ]:
# Verify proper data types for join
orders_clean['Restaurant_id'] = orders_clean['Restaurant_id'].astype(int)

<ipython-input-6-286eba8bd0b7>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  orders_clean['Restaurant_id'] = orders_clean['Restaurant_id'].astype(int)

In [ ]:
master = (
    orders_clean
    .merge(users, on='User_id', how='left')
    .merge(restaurant, on='Restaurant_id', how='left')
    .merge(menu, on='Restaurant_id', how='left')
    .merge(food, on='Food_id', how='left')
)

In [ ]:
master.to_csv('swiggy_master.csv', index=False)